global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend chatbot_web_fe
    bind *:5000
    default_backend chatbot_web_be

backend chatbot_web_be
    balance roundrobin
    server web_01 chatbot-web-01:3000 check
    server web_02 chatbot-web-02:3000 check
    server web_03 chatbot-web-03:3000 check

listen stats
    bind *:8404  # Port to access the HAProxy status page
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
